@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MyFont";
  src: url("./font/roboto/Roboto-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* --------- underline ----------- */

.line::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #aaa;
  transition: width 0.2s ease-out;
}

.line:hover::after {
  width: 100%;
}
/* -------- Button Envoyer ------- */

.btn-envoyer {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid rgb(144,144,144);
  border-radius: 9999px;
  background-image: linear-gradient(to right, transparent 50%, rgb(65,65,65) 50%, rgb(134,134,134));
  background-size: 200%;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn-envoyer:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}
.w-full {
  width: 100%;
}