@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: url('./font/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  /* ------------------- Font -------------------- */

  .font-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* ------------------- background --------------- */

  .bg-gray {
    background-color: #333;
  }

  /* ------------------- width and size ----------- */

  /* .w-full	{
    width: 100%;
  } */