@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: url('./font/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  /* ------------------- Font -------------------- */

  .font-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  /* ------------------- background --------------- */

  .bg-gray {
    background-color: #333;
  }

  .bg-white-300 {
    background-color: #f1f1f1;
  }

  /* .bg-gradient {
    background: rgb(209,40,214);
    background: linear-gradient(90deg, rgba(209,40,214,1) 0%, rgba(240,172,230,1) 57%, rgba(228,145,169,1) 100%);
  } */
  /* ---------- Underline --------------- */
.line::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  border-radius: 2px;
  background: #aaa;
  transition: width 0.2s ease-out;
}

.line:hover::after {
  width: 100%;
}

  /* ------------- Animation ----------------------- */

  @keyframes spin {
    100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
  }

  .tourned {
    -webkit-animation: spin 20s linear infinite;
    -moz-animation: spin 20s linear infinite;
    animation: spin 20s linear infinite;
  }

/* --------- color -------------*/
/* .icone-white {
  color: #f1f1f1;
} */

/* -------- Grid -------------- */
/* @media screen and (max-width: 640px){
  .sm-block {
    display: block;
  }  
} */

